<header class="header">
    <div class="header__container">
        <div class="header__left">
            <a href="/index.html" class="header__logo">
                <img src="/assets/icons/logo.png">
            </a>
        </div>

        <nav class="header__nav">
            <a class="header__link" href="/pages/all.html" data-i18n="nav_all">Todo</a>
            <a class="header__link" href="/pages/collections.html" data-i18n="nav_collections">Colecciones</a>
            <a class="header__link" href="/pages/basics.html" data-i18n="nav_basics">Básicos</a>
            <a class="header__link" href="/pages/brand.html" data-i18n="nav_brand">Marca</a>
            <a class="header__link" href="/pages/gallery.html" data-i18n="nav_gallery">Galería</a>
        </nav>
        <div class="header__right">
            <div class="lang-dropdown">
                <button class="lang-dropdown__btn">
                    <span class="lang-dropdown__selected">ES</span>
                    <span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 9L12 15L18 9" stroke="#1E110D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </button>

                <div class="lang-dropdown__list">
                </div>
            </div>
            <a href="/pages/cart.html" class="header__icon">
                <svg  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 22C9.55228 22 10 21.5523 10 21C10 20.4477 9.55228 20 9 20C8.44772 20 8 20.4477 8 21C8 21.5523 8.44772 22 9 22Z" stroke="#1E110D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M20 22C20.5523 22 21 21.5523 21 21C21 20.4477 20.5523 20 20 20C19.4477 20 19 20.4477 19 21C19 21.5523 19.4477 22 20 22Z" stroke="#1E110D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1 1H5L7.68 14.39C7.77144 14.8504 8.02191 15.264 8.38755 15.5583C8.75318 15.8526 9.2107 16.009 9.68 16H19.4C19.8693 16.009 20.3268 15.8526 20.6925 15.5583C21.0581 15.264 21.3086 14.8504 21.4 14.39L23 6H6" stroke="#1E110D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span class="cart-count"></span>
            </a>
            <button class="header__burger" aria-label="Меню">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>

    <!-- Мобильное меню -->
    <div class="mobile-menu">
        <div class="mobile-menu__overlay"></div>
        <nav class="mobile-menu__content">
            <a class="mobile-menu__link" href="/pages/all.html" data-i18n="nav_all">Todo</a>
            <a class="mobile-menu__link" href="/pages/collections.html" data-i18n="nav_collections">Colecciones</a>
            <a class="mobile-menu__link" href="/pages/basics.html" data-i18n="nav_basics">Básicos</a>
            <a class="mobile-menu__link" href="/pages/brand.html" data-i18n="nav_brand">Marca</a>
            <a class="mobile-menu__link" href="/pages/gallery.html" data-i18n="nav_gallery">Galería</a>
        </nav>
    </div>
</header>